{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Zobrazení záznamu
{% endblock %}

{% block content %}

  <h3>Zobrazení záznamu</h3>
  <li><a href = "{{ path('ZSIZizenBundle_editRecord') }}">Upravit záznam</a></li>
  <br />
  	<div id='content'>
  <table border="1">
   <tr>
	<th align="left">Jméno</th><td>{{user.name}}</td>
   </tr>
   <tr>
	<th align="left">Příjmení</th><td>{{user.surname}}</td>
   </tr>
   <tr>
	<th align="left">Login</th><td>{{user.username}}</td>
   </tr>
   <tr>
	<th align="left">E-mail</th><td>{% if user.email %}{{ user.email }}{% endif %}</td>
   </tr>
   <tr>
	<th align="left">Sex</th><td>{{ sex }}</td>
   </tr>
   <tr>
	<th align="left">Datum narození</th><td>{% if user.birthDate %}{{ user.birthDate.format('d/m/y')  }}{% endif %}</td>
   </tr>
   <tr>
    <th align="left">Role</th><td>{{ user.role }}</td>
   </tr>
  </table>
  </div>
{% endblock %}
