{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Zobrazení lokací
{% endblock %}

{% block content %}
  <h3>Zobrazení uložených lokací</h3>
  
  <li><a href="{{ path('ZSIZizenBundle_addLocation') }}">Přidat novou lokaci</a></li> 
  <li><a href="{{ path('ZSIZizenBundle_selectDefaultLoc') }}">Nastavit defaultní lokaci</a></li> 
  
  <br />

  <h4>Defaultní lokace</h4>
  <table border="1">
  <tr>
	<th>název lokace</th>
	<th>místo lokace</th>
  </tr>
  <tr>
	<td>{% if default %} {{ default.getLocationName() }} {% endif %}</td>
	<td>{% if default %} {{ default.getLocationLocation() }} {% endif %}</td>
  </tr>
  </table>
  
  <br />
  
  <h4>Seznam lokací</h4>
  <table border="1">
  <tr>
    <th>název lokace</th>
	<th>místo lokace</th>
  </tr>
	{% for item in locs %}
	<tr>	
		<td>{{ item.getLocationName() }}</td>
		<td>{{ item.getLocationLocation() }}</td>
	</tr>
	{% endfor %}
  </table>  
{% endblock %}
