{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Zobrazení záznamu
{% endblock %}

{% block content %}
  <h3>Zobrazení záznamu</h3>
  
  <table border="1">
   <tr>
	<th align="left">Jméno</th><td>{{friend.name}}</td>
   </tr>
   <tr>
	<th align="left">Příjmení</th><td>{{friend.surname}}</td>
   </tr>
   <tr>
	<th align="left">Login</th><td>{{friend.username}}</td>
   </tr>
   <tr>
	<th align="left">E-mail</th><td>{% if friend.email %}{{ friend.email }}{% endif %}</td>
   </tr>
   <tr>
	<th align="left">Sex</th><td>{{ friend.sex }}</td>
   </tr>
   <tr>
	<th align="left">Datum narození</th><td>{% if friend.birthDate %}{{ friend.birthDate.format('d/m/y')  }}{% endif %}</td>
   </tr>
   <tr>
    <th align="left">Role</th><td>{{ friend.role }}</td>
   </tr>
  </table>
{% endblock %}
